  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
     
        body {
            padding:0px;
            margin:0px;
            max-width: 100vw;
            font-family: 'Poppins', sans-serif;
            height:100%;
            background-image: url(https://dl.dropbox.com /s/feot2wi5l8q9cri/bg1.jpg?dl=0);
            background-repeat: no-repeat;
		    background-position: center;
			background-attachment: fixed;
			background-size:cover;
        }
        
        .wrapper {
            align-items: stretch;
        }
        
        .bgimage {
            background: url(loginbg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height:100vh;
            width:100%;
             -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }
        
         .bgimage1 {
            background: url(registerbg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height:100vh;
            width:100%;
             -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; 
        }
        
        .mainbox {
           height: auto;
            top: 50%; left: 50%;
            transform: translate(-50%,-50%);
            position: relative;  
            max-width: 370px; /*can be in percentage also.*/
            background:white;
        }
        
        .loginbox {
            min-width:350px;
            width:auto;
            background: white;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
			-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
			box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
            opacity: 0.8;
            padding-bottom: 15px;
            padding-top: 5px;
        	font-family: 'Poppins';
         }
        
        .logintitle {
            text-align: center;
            padding-top:5px;
            letter-spacing: 3px;
            font-size:26px;
            font-weight:600;
        }



        .divput {
            display: flex;
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .logbtn {
            outline: none;
            border:none;
            background: #ff0000;
            color:white;
            letter-spacing: 3px;
            padding: 10px;
            border-radius: 5px;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; 
            font-size:12px;
        }
        
        .logbtn:hover {
/*            background:#1E824C;*/
            cursor:pointer;
            letter-spacing: 3px;
        }
        
        .loginput:focus {
            border-left: solid 35px #22a7f0;
        }
        
        .signup {
            color: #013243;
            cursor:pointer;
        }
        
        .regbox {
             width:400px;
            background: white;
            border-radius: 5px;
              box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
            opacity: 0.8;
            padding-bottom: 15px;
            display: none;
        }
        
         .loginputs {
    		 transition: all 0.1s ease-in;
             margin: 10px 20px 5px 20px;
             flex-basis: 100%;
             outline:none;
             padding:10px;
             border-radius: 5px;
             border: solid #D2D7D3 1px;
             -webkit-transition: all 0.5s ease;
             -moz-transition: all 0.5s ease;
             -o-transition: all 0.5s ease;
             transition: all 0.5s ease; 
             font-size: 12px;
              font-family: 'Poppins', sans-serif;
       }
    
       .loginputs:focus {
	        border-color: #ff0000;
	       border-left-width: 35px;
	        }
	    
	        #username:focus {
	           border-color: #ff0000;
	       border-left-width: 35px; 
	        } 
	        
	        
	        #regsuccess {
	            color: #26A65B;
	            letter-spacing: 2px;
	            font-size:12px;
	            text-align: center;
	              margin-left:50px;
	        }
	        
	        #usermsg {
	          margin-left:50px;
	          font-size:10px;
	            color:red;
	        }
	        
	        #loginusermsg {
	           margin-left:50px;
	          font-size:10px;
	            color:red;  
	        }
	        
	         #loginpassmsg {
	           margin-left:50px;
	          font-size:10px;
	            color:red;  
	        }
	        
	        .errorborder {
	         border-color: #CF000F !important;
	        }
	
			h1{
			color:#0000FF;
			}
	
			h2{
			color:#FF0000;
			}
	
	        .regLabel {
	         font-size:14px;
	         font-weight: 600px;
	         vertical-align:middle;
	         padding-top:10px;
	         padding-left:30px;
	        }
	        
	        


